<template>
    <div class="flex flex-col">
        <div v-if="!currencyRates" class="loader m-auto ease-linear rounded-full border-2 border-t-2 border-gray-200 h-10 w-10 m-2"/>
        <div v-else class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
            <currency-rates-filter
                @filter="onFilter"
            />
            <div class="mt-5 align-middle inline-block min-w-full shadow overflow-hidden sm:rounded-lg border-b border-gray-200">
                <currency-rates-list
                    :currencyRates="currencyRates.data"
                />
                <pagination
                    v-if="currencyRates.pagination.lastPage > 1"
                    :pagination="currencyRates.pagination"
                    @load="onLoadCurrencyRates"
                />
            </div>
            <div class="mt-5 align-middle inline-block min-w-full shadow overflow-hidden sm:rounded-lg border-b border-gray-200">
                <currency-rates-chart
                    :currencyRates="currencyRates.data"
                />
            </div>
        </div>
    </div>
</template>

<script>
    import { mapActions, mapMutations } from 'vuex';
    import CurrencyRatesFilter from '@/components/currencies/CurrencyRatesFilter'
    import CurrencyRatesList from '@/components/currencies/CurrencyRatesList';
    import CurrencyRatesChart from '@/components/currencies/CurremcyRatesChart';
    import Pagination from '@/components/ui/Pagination';

    export default {
        components: {
            CurrencyRatesFilter,
            CurrencyRatesList,
            CurrencyRatesChart,
            Pagination
        },
        data() {
            return {
                filter: {
                    date_from: null,
                    date_to: null
                }
            }
        },
        computed: {
            currencyRates() {
                return this.$store.state.currencies.currencyRates
            }
        },
        methods: {
            ...mapActions({
                getCurrencyRates: 'currencies/getCurrencyRates'
            }),
            ...mapMutations({
                clearCurrencyRates: 'currencies/clearCurrencyRates'
            }),
            onFilter(data) {
                Object.assign(this.filter, data);
                this.onLoadCurrencyRates()
            },
            onLoadCurrencyRates(page = 1) {
                this.getCurrencyRates({
                    id: this.$route.params.id,
                    params: {
                        ...this.filter,
                        page: page,
                        page_size: 10
                    }
                });
            }
        },
        mounted() {
            this.onLoadCurrencyRates()
        },
        destroyed() {
            this.clearCurrencyRates()
        }
    }
</script>
