<template>
    <ValidationObserver ref="validationObserver" tag="form" class="w-full max-w-xs" @submit.prevent="onSubmit">
        <div class="flex items-center border-b border-b-2 border-teal-500 py-2">
            <ValidationProvider rules="required">
                <input v-model="form.date_from" type="date" :max="form.date_to || currentDate" class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none">
            </ValidationProvider>
            <ValidationProvider rules="required">
                <input v-model="form.date_to" type="date" :min="form.date_from" :max="currentDate" class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none">
            </ValidationProvider>
            <button v-show="form.date_from && form.date_to" class="flex-shrink-0 mr-2 bg-teal-500 hover:bg-teal-700 border-teal-500 hover:border-teal-700 text-sm border-4 text-white py-1 px-2 rounded" @click="onReset">
                Reset
            </button>
            <button class="flex-shrink-0 bg-teal-500 hover:bg-teal-700 border-teal-500 hover:border-teal-700 text-sm border-4 text-white py-1 px-2 rounded">
                Apply
            </button>
        </div>
    </ValidationObserver>
</template>

<script>
    export default {
        data() {
            return {
                form: {
                    date_from: null,
                    date_to: null
                }
            }
        },
        computed: {
            currentDate() {
                return (new Date()).toISOString().split('T')[0]
            }
        },
        methods: {
            onReset() {
                Object.assign(this.$data, this.$options.data());
                this.$emit('filter', this.form)
            },
            async onSubmit() {
                const isValid = await this.$refs.validationObserver.validate();
                if (isValid) {
                    this.$emit('filter', this.form)
                }
            }
        }
    }
</script>
