<template>
    <vue-apex-charts type="line" height="350" :options="chartOptions" :series="series"></vue-apex-charts>
</template>

<script>
    import VueApexCharts from 'vue-apexcharts'

    export default {
        components: {
            VueApexCharts
        },
        props: {
            currencyRates: {
                required: true,
                type: Array
            }
        },
        data() {
            return {
                chartOptions: {
                    chart: {
                        height: 350,
                        type: 'line',
                        zoom: {
                            enabled: false
                        }
                    },
                    dataLabels: {
                        enabled: false
                    },
                    stroke: {
                        curve: 'straight'
                    },
                    title: {
                        text: 'Line chart with the daily rate',
                        align: 'left'
                    },
                    grid: {
                        row: {
                            colors: ['#f3f3f3', 'transparent'],
                            opacity: 0.5
                        }
                    }
                }
            }
        },
        computed: {
            series() {
                return [{
                    name: 'Rates',
                    data: this.currencyRates.map((rate) => ({ x: rate.date, y: rate.rate })).reverse()
                }]
            }
        }
    }
</script>
