<template>
    <div class="flex flex-col">
        <div v-if="!currenciesRates" class="loader m-auto ease-linear rounded-full border-2 border-t-2 border-gray-200 h-10 w-10 m-2"/>
        <div v-else class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
            <div class="align-middle inline-block min-w-full shadow overflow-hidden sm:rounded-lg border-b border-gray-200">
                <currencies-rates-list
                    :currenciesRates="currenciesRates.data"
                />
                <pagination
                    v-if="currenciesRates.pagination.lastPage > 1"
                    :pagination="currenciesRates.pagination"
                    @load="onLoadCurrenciesRates"
                />
            </div>
        </div>
    </div>
</template>

<script>
    import { mapActions } from 'vuex';
    import CurrenciesRatesList from '@/components/index/CurrenciesRatesList';
    import Pagination from '@/components/ui/Pagination';

    export default {
        components: {
            CurrenciesRatesList,
            Pagination
        },
        computed: {
            currenciesRates() {
                return this.$store.state.currencies.currenciesRates
            }
        },
        methods: {
            ...mapActions({
                getCurrenciesRates: 'currencies/getCurrenciesRates'
            }),
            onLoadCurrenciesRates(page = 1) {
                this.getCurrenciesRates({
                    params: {
                        page: page,
                        page_size: 10
                    }
                })
            }
        },
        mounted() {
            if (!this.currenciesRates) {
                this.onLoadCurrenciesRates()
            }
        }
    }
</script>
