<template>
    <div id="app">
        <app-header v-if="loggedIn"/>
        <div class="bg-gray-100 py-6">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <router-view/>
            </div>
        </div>
    </div>
</template>

<script>
    import AppHeader from '@/components/layout/AppHeader'

    export default {
        components: {
            AppHeader
        },
        computed: {
            loggedIn() {
                return this.$store.state.auth.loggedIn
            }
        }
    }
</script>
